@font-face {
    /*This code adds a new font-face, which can be used in the product*/
    src: url("../font/Montserrat-Light.ttf");
    font-family: Montserrat;
}

* {
    font-family: Montserrat;
}

body {
    background-color: #202020;
    position: relative;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: gainsboro;
}


/* footer */

footer {
    margin-top: 3%;
}

footer a {
    display: flex;
    justify-content: start;
    color: gainsboro;
    width: 100%;
}

footer a:hover {
    text-decoration: none;
    color: ghostwhite;
}

footer a p {
    margin: auto 0;
    padding-left: 1rem;
}

.footer-some {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-some article {
    margin: auto;
    margin-bottom: 2rem;
}

footer a img {
    width: auto;
    max-height: 80px;
}

.some-txt {
    display: none;
}


/* footer end */

@media only screen and (min-width: 768px) {}