@font-face {
    /*This code adds a new font-face, which can be used in the product*/
    src: url("../font/Montserrat-Light.ttf");
    font-family: Montserrat;
}

* {
    font-family: Montserrat;
}

body {
    background-color: #202020;
    position: relative;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: gainsboro;
}


/* header */

.navigation {
    transition: all 300ms ease-in-out;
    padding: 0;
}

.menu {
    font-size: 1em;
    color: #333;
}

.menu div {
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid purple;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div:last-child {
    border: 0;
}

.menu--off {
    position: absolute;
    left: -50%;
    width: 50%;
    display: block;
    background: #eee;
    margin-top: 1em;
    transition: all 300ms;
}

.menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
}

.material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    outline: 0;
}

.material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 100px;
    height: 10px;
    background: #eee;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before,
.material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: 10px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
    bottom: 200%;
}

.material-design-hamburger__layer:after {
    top: 200%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {}
    100% {
        transform: rotate(180deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {}
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {}
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {}
}

@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}


/* header end */


/* members */

.member-title {
    margin-left: 3%;
}

.member-jay,
.member-danny,
.member-bellz,
.member-racer,
.member-nick {
    width: 93%;
    margin: auto;
}

.member-jay h3,
.member-danny h3,
.member-bellz h3,
.member-racer h3,
.member-nick h3 {
    padding-top: 1rem;
}

.member-jay a,
.member-danny a,
.member-bellz a,
.member-racer a,
.member-nick a {
    display: flex;
    justify-content: start;
    color: gainsboro;
    width: 20%;
}

.member-jay a img,
.member-danny a img,
.member-bellz a img,
.member-racer a img,
.member-nick a img {
    padding-right: 8%;
    margin-bottom: 1rem;
}

footer a:hover {
    text-decoration: none;
    color: ghostwhite;
}


/* members end */

@media only screen and (min-width: 768px) {
    /* index */
    /* navigation */
    .menu--off {
        width: auto;
    }
    /* navigtion end */
    /* members */
    .member-box {
        width: 30%;
        margin: auto;
    }
    .member-title {
        font-size: 5.5rem;
        text-align: center;
    }
    /* .member-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    .member-jay,
    .member-danny,
    .member-bellz,
    .member-racer,
    .member-nick {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .member-txt {
        margin: auto;
        width: 90%;
    }
    .member-img {
        margin: auto;
        margin-bottom: 3rem;
        width: 90%;
    }
    .member-jay a img,
    .member-danny a img,
    .member-bellz a img,
    .member-racer a img,
    .member-nick a img {
        padding-right: 8%;
        margin-bottom: 1.3rem;
    }
    /* members end */
}