body {
    background-color: black;
    position: relative;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: gainsboro;
}


/* header */

.navigation {
    transition: all 300ms ease-in-out;
    margin: 1em 0;
    padding: 0;
}

.menu {
    font-size: 1em;
    color: #333;
}

.menu div {
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid purple;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: underline;
}

.menu div:last-child {
    border: 0;
}

.menu--off {
    position: absolute;
    left: -50%;
    width: 50%;
    display: block;
    background: #eee;
    margin-top: 1em;
    transition: all 300ms;
}

.menu--on {
    left: 0;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
}

.material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    outline: 0;
}

.material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 100px;
    height: 10px;
    background: #eee;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before,
.material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: 10px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before {
    bottom: 200%;
}

.material-design-hamburger__layer:after {
    top: 200%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {}
    100% {
        transform: rotate(180deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {}
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {}
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {}
}

@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}


/* heaeder end */


/* index */

.main-section {
    position: absolute;
    top: 3%;
    z-index: -1;
}

.frontimg-desktop {
    display: none;
}

.title {
    margin-left: 32%;
    margin-top: 120%;
}

.intro-sec {
    margin-top: 5%;
}

.sub-title {
    margin: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}


/* Tour list */

.ticket-table {
    font-size: .8rem;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

.ticket-table tr {
    border-bottom: 1px solid #444;
}

.ticket-table td {
    padding: .5em;
    width: 20%;
    display: table-cell;
}

.table-row-country {
    width: 15%;
}

.table-row-country p {
    border: 1px solid #333;
    padding: 0;
    margin: 3% 0 0;
    width: 70%;
    text-align: center;
    text-transform: uppercase;
}

.table-row-place {
    width: 35%;
}

.table-row-buy p {
    display: block;
    margin: 0;
}

.table-row-buy img {
    display: none;
}

.ticket-btn-text {
    color: #444;
}


/* Tour list end */


/* Merchandise */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* Merchandise end */


/* footer */

footer {
    margin-top: 8%;
}

footer a {
    display: flex;
    justify-content: start;
    color: gainsboro;
    width: 20%;
}

footer a:hover {
    text-decoration: none;
    color: ghostwhite;
}


/* footer end */


/* index end */

@media only screen and (min-width: 768px) {
    /* index */
    /* navigation */
    .menu--off {
        width: auto;
    }
    /* navigtion end */
    .main-section {
        top: 0;
    }
    .frontimg-mobil {
        display: none;
    }
    .frontimg-desktop {
        display: block;
        width: 100%;
    }
    .title {
        font-size: 6rem;
        margin-top: 37%;
        margin-left: 62%;
        transform: translate(-50%, -50%);
    }
    .intro-sec p {
        width: 70%;
        margin: auto;
    }
    .intro-sec img {
        margin: auto;
    }
    .sub-title {
        position: relative;
        font-size: 3rem;
    }
    /* tour list */
    .ticket-table {
        font-size: .9rem;
        margin: auto;
        width: 70%;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
    }
    .ticket-table tr {
        border-bottom: 1px solid #444;
    }
    .ticket-table td {
        padding: 8px 0;
        display: table-cell;
    }
    .ticket-table td p {
        padding-left: 40px;
    }
    .table-row-date {
        width: 20%;
    }
    .table-row-country {
        width: 5%;
    }
    .table-row-country p {
        border: 1px solid #333;
        padding-left: 0!important;
        padding-top: 2px;
        padding-right: 0;
        padding-bottom: 3px;
        width: 15%;
        text-align: center;
        text-transform: uppercase;
    }
    .table-row-city {
        width: 25%;
    }
    .table-row-place {
        width: 38%;
    }
    .table-row-buy {
        width: 12%;
    }
    .table-row-buy p {
        display: block;
        padding: 0!important;
    }
    /* tour list end */
    /* index end */
}